/* stylelint-disable */
.form__achievements {
  order: 4;
  background-color: #f2f2f2;
  padding-bottom: 7px;

  @media (min-width: $tablets) {
    background-color: white;
  }
}

.achievements {
  @media (min-width:$tablets) {
    margin-bottom: 10px;
  }
}

.form__achievements--fieldset {
  padding: 0;
}

.form__achievements--legend {
  padding: 38px 15px 35px;

  @media (min-width: $tablets) {
    padding: 45px 15px 38px;
  }
}

.achievements__item {
  position: relative;
  padding: 12px 0 36px 0;
  margin: 0 0 0 -16px;

  @media (min-width: $tablets) {
    margin: 0 0 0 40px;
  }
}

.achievements__checkbox + label:before {
  content: "";
  position: relative;
  background-color: white;
  border: 2px solid #e5e5e5;
  padding-left: 35px;
  padding-top: 16px;
  left: 15px;
}

.achievements__checkbox:hover + label:before {
  border: 2px solid #283645;
}

.achievements__checkbox:active + label:before {
  border: 2px solid #d22856;
}

.achievements__checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes-red.svg");
  background-repeat: no-repeat;
  z-index: 1;
  left: 25px;
  top: 18px;
}

/*
.achievements__checkbox {
  opacity: 0;
}*/

input[type="checkbox"] {
  @include visually-hidden;
}

.achievements__text {
  padding-left: 47px;
  vertical-align: super;
  font-size: 18px;
  line-height: 30px;
  white-space: nowrap;

  @media (min-width: $tablets) {
    padding-left: 36px;
  }
}
