.download {
  position: relative;
  padding-top: 28px;
  padding-bottom: 29px;
  background-color: $dark-background;
  text-align: center;
  overflow: hidden;
}

.download__wrapper {
  @include wrapper;
}

.hidden-titles {
  @include visually-hidden;
}

.download__picture {
  position: relative;
}

.download__picture::before {
  content: "";
  display: block;
  width: 498px;
  height: 314px;
  background-repeat: no-repeat;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 center;
  margin: 0 auto;

  @media (min-width: $tablets) {
    content: "";
    position: absolute;
    width: 700px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
  }

  @media (min-width: $desktops) {
    content: "";
    position: absolute;
    width: 1050px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
  }
}

.download__slogan {
  font-size: 0;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: $white;

  @media (min-width: $tablets) {
    font-size: 50px;
    line-height: 60px;
  }
}

.download__button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  border: 3px solid $white;
  border-radius: 30px;
  background-color: transparent;
  padding: 18px 40px;
  height: auto;
  margin: 0 auto;
}

.download__list {
  @include list;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 58px;

  @media (min-width: $mobiles) {
    width: 320px;
  }
}

.download__item {
  @include link;
  width: 47px;
  height: 56px;
  margin-right: 16px;
  margin-left: 16px;
}

.download__item--iphone {
  background: url("../img/logo-apple.svg") no-repeat center center;
  background-size: 47px 56px;
}

.download__item--android {
  background: url("../img/logo-android.svg") no-repeat center center;
  background-size: 43px 47px;
}

.download__item--win {
  background: url("../img/logo-microsoft.svg") no-repeat center center;
  background-size: 44px 41px;
}

.download__app {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablets) {
    padding: 93px 0;
    width: 300px;
    background-color: transparent;
  }
}

.download__desc {
  text-align: center;
  color: $white;
  font-size: $font-size;
  line-height: $line-height;

  @media (min-width: $mobiles) {
    width: 280px;
  }
}
