.gallery__panorama-wrapper {
  @include wrapper;
  margin: 0 auto;

  @media (min-width: $tablets) {
    margin-bottom: 50px;
  }
}

.gallery__panorama {
  text-align: center;
  position: relative;

  &--button {
    position: absolute;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 20px;
    top: 0;
    left: 50%;
    display: block;
    background-color: #d22856;
    color: white;
    cursor: pointer;

    @media (min-width: $tablets) {
      top: 60px;
      left: 77%;
    }
  }
}

.gallery__panorama img {
  margin: 0 auto;
  display: block;
  height: 140px;
  max-width: 100%;

  @media (min-width: $tablets) {
    height: auto;
    max-width: 100%;
  }

  @media (min-width: $desktops) {
    height: auto;
    max-width: 100%;
  }
}

.gallery-like__button--panorama {
  @media (min-width: $tablets) {
    content: "";
    position: absolute;
    top: 32px;
    right: 28px;
  }
}

.gallery-like__like--panorama {
  @media (min-width: $tablets) {
    content: "";
    position: absolute;
    top: 26px;
    right: 58px;
  }
}

/* ВРЕМЕННО
.gallery__panorama--image {
  @media (min-width: $tablets) {
    margin-bottom: 315px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 325px;
  }
}*/
