/* stylelint-disable */
.page-header__logo  {
  text-align: left;
  height: 66px;

  @media (min-width: $tablets) {
    height: 110px;
  }

  @media (min-width: $desktops) {
    position: relative;
    background-color: transparent;
    margin: 0;
    text-align: center;
    height: 110px;
    /*width: 300px;неточно*/
  }
}

.page-header__image {
  width: 75px;
  height: auto;
  margin: 17px 0 0 25px;

  @media (min-width: $tablets) {
    width: 147px;
    height: auto;
    margin: 26px 0 0 4px;
  }

  @media (min-width: $desktops) {
    width: 150px;
    height: auto;
    margin: 26px 0;
  }
}

/*лого хэдер*/
.page-header__logo {
  display: block;
  cursor: pointer;
}

.page-header__logo:hover .page-header__image--letters {
  fill: #d22856;
}

.page-header__image--mobile {
  display: block;

  @media (min-width: $tablets) {
    display: none;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.page-header__image--tablet {
  display: none;

  @media (min-width: $tablets) {
    display: block;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.page-header__image--desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}

/*лого футер*/

.page-footer__logo {
  display: block;
  text-align: center;
  cursor: pointer;
}

.page-footer__logo:hover .page-footer__logo--letters {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo--letters {
  fill: #bec2c7;
}

.page-footer__logo:active .page-footer__logo--glasses {
  fill: #f1becc;
}

.page-footer__logo-mobile {
  @media (min-width: $desktops) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}
