.page-header__logo {
  text-align: left;
  height: 66px;
  display: block;
  cursor: pointer;

  @media (min-width: $tablets) {
    height: 110px;
  }

  @media (min-width: $desktops) {
    position: relative;
    background-color: transparent;
    margin: 0;
    text-align: center;
    height: 110px;
  }
}

.page-header__image {
  width: 75px;
  height: auto;
  margin: 17px 0 0 25px;

  @media (min-width: $tablets) {
    width: 147px;
    height: auto;
    margin: 26px 0 0 4px;
  }

  @media (min-width: $desktops) {
    width: 150px;
    height: auto;
    margin: 26px 0;
  }
}

.page-header__letters,
.page-header__glasses {
  fill: #ffffff;
}

.page-header__image:hover .page-header__letters,
.page-header__image:hover .page-header__glasses {
  fill: #d22856;
}

.page-header__image:active .page-header__letters,
.page-header__image:active .page-header__glasses {
  fill: #ffffff;
  opacity: 0.3;
}

.page-header__glasses--dots {
  fill: #d22856;
}

.page-header__image:hover .page-header__glasses--dots {
  fill: #ffffff;
}

.page-header__image:active .page-header__glasses--dots {
  fill: #d22856;
  opacity: 0.3;
}

.page-header__image--mobile {
  display: block;

  @media (min-width: $tablets) {
    display: none;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.page-header__image--tablet {
  display: none;

  @media (min-width: $tablets) {
    display: block;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.page-header__image--desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}

/*лого футер*/

.page-footer__logo {
  display: block;
  text-align: center;
  cursor: pointer;
}


.page-footer__letters {
  fill: #283645;
}

.page-footer__glasses {
  fill: #d22856;
}

.page-footer__glasses--dots {
  fill: #283645;
}

.page-footer__logo:hover .page-footer__letters {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__letters {
  fill: #bec2c7;
}

.page-footer__logo:active .page-footer__glasses,
.page-footer__logo:active .page-footer__glasses--dots {
  fill: #f1becc;
}

.page-footer__logo--mobile {
  @media (min-width: $desktops) {
    display: none;
  }
}

.page-footer__logo--desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}
