/* stylelint-disable */
.page-header__logo  {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  z-index: 2;
  text-align: left;
  height: 66px;

  @media (min-width: $tablets) {
    height: 110px;
  }

  @media (min-width: $desktops) {
    position: relative;
    background-color: transparent;
    margin: 0;
    text-align: center;
    height: 110px;
    width: 300px;/*неточно*/
  }
}
