/*.form-wrapper {
  @include wrapper;

  @media (min-width: $mobiles) {
    width: 100%;
    padding: 0;
  }
}*/

.form__legend--hidden {
  display: none;

  @media (min-width: $tablets) {
    display: inline;
  }
}

.form__container {
  @media (max-width: $mobiles-max) {
    @include wrapper-phones;
  }
}

.form {
  margin-bottom: 60px;

  @media (min-width: $tablets) {
    @include wrapper;
  }
}

.form__flex {
  @media (min-width: $tablets) {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }

  @media (min-width: $desktops) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.form__data {
  @include list;
}


.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablets) {
    border: 2px solid #f2f2f2;
  }
}

.form__legend {
  color: #d22856;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;

  @media (min-width: $tablets) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 80px;
    margin: 93px auto 46px;
  }
}

.form__title--main {
  @media (min-width: $desktops) {
    transform: translateX(-10px);
    padding-left: 80px;
    padding-right: 80px;
  }
}
