.main-competition__wrapper {
  @include wrapper;
}

.main-competition__background {
  font-weight: lighter;
  font-size: 24px;
  background-color: $main-background;
  color: $white;
  text-align: center;
  padding: 35px 0 80px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;

  @media (min-width: $tablets) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $desktops) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.form__data {
  @include list;
}

@media (min-width: $tablets) {
  .main-competition__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: lighter;
    color: $white;
    text-align: center;
    padding-top: 110px;
  }
}
