.main-nav {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablets) {
    width: auto;
    margin: 0;
    background-color: transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  @media (min-width: $desktops) {
    display: none;
  }
}

.main-nav__toggle span {
  font-size: 0;
}

.main-nav--closed .main-nav__toggle span {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 14px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
}

.main-nav--closed .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 14px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
}

.main-nav--closed .main-nav__toggle {
  &:hover span,
  &:hover::before,
  &:hover::after,
  &:active span,
  &:active::before,
  &:active::after {
    background-color: #d22856;
  }
}

.main-nav--opened .main-nav__toggle span {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 17px;
    width: 29px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:active::before,
  &:active::after {
    background-color: #d22856;
  }
}


@media (max-width: $desktops) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav__list {
  @include list;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  @media (min-width: $desktops) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 18px;
    font-weight: lighter;
    text-transform: none;
  }
}

.main-nav__item {
  cursor: pointer;
  border-bottom: solid 1px black;
  border-top: solid 1px #485461;
  padding: 15px 95px;

  @media (min-width: $desktops) {
    margin-left: 84px;
    padding: 45px 0 36px 0;

    &:first-child {
      margin-left: 170px;
    }

    @media (min-width: $desktops) {
      &--active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #ffffff;
          right: 0;
          bottom: 25px;
          left: 0;
          height: 2px;
        }
      }
    }
  }
}

.main-nav__item a {
  @include link;
}

.main-nav__item:hover a {
  color: #d22856;
}

.main-nav__item:active a {
  color: rgba(255, 255, 255, 0.3);
}
