.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablets) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;

    &--form {
      margin-top: 45px;
    }

    @media (min-width: $desktops) {
      min-height: 175px;
      margin-top: 0;
    }
  }
}


.page-footer--hidden {
  @media (max-width: $mobiles-max) {
    display: none;
  }
}
