.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  z-index: 2;

  @media (min-width: $desktops) {
    position: absolute;
    min-height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    z-index: 2;
  }
}

.page-header--absolute {
  position: absolute;
}

.page-header--relative {
  position: relative;
  background-color: $main-background;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $desktops) {
    @include wrapper;
    flex-direction: row;
  }
}
