.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablets) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;

    @media (min-width: $desktops) {
      min-height: 200px;
    }

    /*.page-footer__logo {
      margin-right: 70px;
    }*/
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  cursor: pointer;
}

.page-footer__logo:hover .page-footer__logo--letters {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo--letters {
  fill: #bec2c7;
}

.page-footer__logo:active .page-footer__logo--glasses {
  fill: #f1becc;
}

.page-footer__logo-mobile {
  @media (min-width: $desktops) {
    display: none;
  }
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}

.social__list {
  @include list;
  font-size: 0;
  margin: 32px auto 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 195px;

  @media (min-width: $tablets) {
    margin: 0 0 0 -15px;
  }

  @media (min-width: $desktops) {
    margin: 5px 0 0 11px;
  }
}

.social__item {
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  cursor: pointer;

  &:nth-child(1),
  &:nth-child(2) {
    margin-right: 15px;
  }

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    border: 3px solid #e9ebec;
  }

  &:active .social__link {
    fill: #f1becc;
  }
}

.social__link {
  position: relative;
  fill: #d22856;

  &--twitter {
    top: 15px;
    left: 14px;
  }

  &--facebook {
    top: 13px;
    left: 16px;
  }

  &--instagram {
    top: 15px;
    left: 16px;
  }
}

.social__icon {
  position: absolute;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $tablets) {
    margin-top: 13px;
  }
}

.copyright__title {
  margin-right: 15px;
  margin-top: 4px;

  @media (min-width: $desktops) {
    font-size: 18px;
  }
}


.copyright__icon {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #bec2c7;
  }
}
