.page-header {
  @include wrapper;
  font-family: $font;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 200px;
}

.main-nav__list {
  @include list;
}

.site-list__item {
  cursor: pointer;
  border-bottom: solid 1px $black;
  border-top: solid 1px $gray;
  padding: 22px 95px;
}

.site-list__link {
  @include link;
}

.site-list__item:hover .site-list__link {
  color: $pink;
}
