/* stylelint-disable */
.form__personal {
  order: 1;

  @media (min-width: $desktops) {
    width: 435px;
  }
}

.personal {
  margin-bottom: 41px;
  padding-top: 20px;

  @media (min-width: $tablets) {
    margin-bottom: 0;
  }

  @media (min-width: $desktops) {
    width: 435px;
    padding-top: 33px;
  }
}

.form__title--span {
  padding: 0;
}

.form__title--hidden {
  display: none;

  @media (min-width: $tablets) {
    display: inline-block;
    margin: 0 auto;
  }
}

.personal__label {
  font-size: 14px;
  line-height: 30px;
  padding-left: 23px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablets) {
    margin-left: 0;
    margin-right: 22px;
    margin-top: 22px;
    padding-left: 0;
  }
}

.personal__item {
  margin-bottom: 17px;

  @media (min-width: $tablets) {
    display: flex;
    margin-bottom: 47px;
  }
}

.personal__input {
  margin-top: 5px;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px 15px;
  outline: none;

    &:hover {
    border: 2px solid #283645;
  }

    &:active,
    &:focus {
      border: 2px solid #d22856;
  }
}
