/* stylelint-disable */
.form__personal {
  order: 1;
}

.personal {
  margin-bottom: 41px;
  padding-top: 20px;

  @media (min-width: $tablets) {
    margin-bottom: 0;
  }
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;

  @media (min-width: $tablets) {
    font-size: 18px;
    line-height: 30px;
    margin: 93px auto 46px;
    max-width: 80%;
  }
}

.form__title--hidden {
  display: none;

  @media (min-width: $tablets) {
    display: inline-block;
    margin: 0 auto;
  }
}

.personal__label {
  font-size: 14px;
  line-height: 30px;
  padding-left: 23px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablets) {
    margin-left: 0;
    margin-right: 22px;
    margin-top: 20px;
    padding-left: 0;
  }
}

.personal__item {
  margin-bottom: 17px;

  @media (min-width: $tablets) {
    display: flex;
    margin-bottom: 47px;
  }
}

@media (min-width: $tablets) {
.personal__item--bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.personal__input--wrapper {
  order: 1;
  width: 91%;

  position: relative;

  @media (min-width: $tablets) {
    padding-left: 55px;
    padding-right: 60px;
  }
}

.personal__input--phone::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 63px;
  background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
  right: 0;
  top: 7px;
}

.personal__input--email::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 63px;
  background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
  right: 0;
  top: 7px;
}

.personal__label--wrapper {
  order: 2;
  padding-left: 65px;
  padding-top: 10px;
  }
}

input[type="text"]::placeholder {
  font-size: 19px;
  line-height: 30px;
}

.personal__input {
  margin-top: 5px;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px 15px;
  outline: none;

    &:hover {
    border: 2px solid #283645;
  }

    &:active,
    &:focus {
      border: 2px solid #d22856;
  }
}

.form__personal--bottom {
  padding: 0;
}

.form__personal-bottom {
  order: 3;
  padding: 0;

  @media (min-width: $tablets) {
  margin-top: 47px;
  }
}

.personal__input--bottom {
  @media (min-width: $tablets) {
    margin-top: 7px;
  }
}

.personal__label--bottom {
  @media (min-width: $tablets) {
  margin-left: 10px;
  }
}


.personal--bottom {
  margin-top: 10px;
}
