.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  background-color: white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablets) {
    width: 460px;
    border-radius: 5px;
  }

  @media (min-width: $desktops) {
    width: 780px;
  }
}

.popup__header {
  padding: 40px 20px 0;

  &--failure {
    @media (min-width: $tablets) {
      padding: 36px 80px 0;
    }

    @media (min-width: $desktops) {
      padding: 50px 215px 60px;
    }
  }

  &--success {
    padding-bottom: 30px;

    @media (min-width: $tablets) {
      padding: 36px 70px 34px;
    }

    @media (min-width: $desktops) {
      padding: 40px 160px 39px;
    }
  }
}

.popup__title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablets) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__title br {
  display: none;

  @media (min-width: $tablets) {
    display: inline;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.popup__text {
  @media (min-width: $tablets) {
    font-size: 18px;
    line-height: 24px;
  }
}

.popup__text br {
  display: none;

  @media (max-width: $mobiles-max) {
    display: inline;
  }
}

.popup__footer {
  padding: 38px 20px 50px;

  @media (min-width: $tablets) {
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 0 0 5px 5px;
  }

  &--failure {
    @media (min-width: $tablets) {
      padding-bottom: 52px;
    }

    @media (min-width: $desktops) {
      padding-top: 45px;
      padding-left: 242px;
      padding-right: 242px;
      background-color: #f2f2f2;
    }
  }

  &--success {
    padding-top: 48px;
    padding-bottom: 52px;
    background-color: #f2f2f2;

    @media (min-width: $desktops) {
      padding-left: 160px;
      padding-right: 160px;
    }
  }
}


.popup__button {
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  padding: 17px 30px 16px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  width: 100%;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #61b98f;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablets) {
    padding: 17px 60px;
  }
}
