.textarea__wrapper {
  @media (min-width: $tablets) {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 45px;
    padding-left: 58px;
    padding-right: 58px;
  }

  @media (min-width: $desktops) {
    padding-bottom: 38px;
  }
}

.textarea {
  order: 5;

  @media (min-width: $tablets) {
    margin-top: 38px;
    width: 100%;
  }

  @media (min-width: $desktops) {
    margin-top: 33px;
    width: 100%;
  }
}

.textarea__text {
  width: 100%;
  min-height: 203px;
  border: 2px solid #e5e5e5;
  outline: none;

  @media (min-width: $tablets) {
    min-height: 195px;
    margin-top: 20px;
  }

  @media (min-width: $desktops) {
    min-height: 125px;
    margin-top: 20px;
  }

  &:hover {
    border: 2px solid #283645;
  }

  &:active,
  &:focus {
    border: 2px solid #d22856;
  }
}


.form__fieldset--textarea {
  padding: 0;
}

.form__legend--textarea {
  padding-top: 38px;
  padding-bottom: 16px;

  @media (min-width: $tablets) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 13px;
    margin-left: 190px;
  }
}

textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  padding: 15px 17px;
  letter-spacing: 0.5px;
}
