@mixin visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link() {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@mixin wrapper(min-width: $mobile) {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media(min-width: $tablets) {
    width: 100%;
  }

  @media(min-width: $desktops) {
    width: 100%;
  }
}
