/*general*/
$font: "Open Sans", "Arial", sans-serif;
$mobiles: 320px;
$tablets: 660px;
$desktops: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


/*colors*/
$main-background: #283645;
$dark-background: #1d2631;
$gray: #485461;
$pink: #d22856;
$light-gray: #f2f2f2;
