/*general*/
$font: "Open Sans", "Arial", sans-serif;
$tablets: 660px;
$desktops: 960px;


/*colors*/
$main-background: #283645;
$dark-background: #1d2631;
$gray: #485461;
$pink: #d22856;
$light-gray: #f2f2f2;
